@model IEnumerable<MyShop.Models.Item>

            <div class="container">
                <h1>@ViewBag.CurrentViewName</h1>
                <table class="table table-striped">
                    <tr><th>Id</th><th>Name</th><th>Price</th><th>Description</th></tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ItemId</td>
                            <td>@item.Name</td>
                            <td>@item.Price.ToString("0.00 NOK")</td>
                            <td></td>
                        </tr>
                    }
                </table>
            </div>
 
    <!--
    h1: denne linjen viser hovedoverskrift med verdien av ViewBagCurrentViewName
    Dette er en Razor-syntaks for å legge inn server-side kode i visningen 
    ViewBag er et dynamisk objekt som brukes til å sende data fra controlleren til visningen

    table class table-striped: definerer et tabell-element med klassene table og table-striped 
    Disse klassene er vanligvis fra Bootstrap CSS-rammeverket, hvor table gir grunnleggende tabellstil, 
    og table-striped legger til annenhver rad-striper 

    foreach: starter en Razor-foreach-løkke som itererer gjennom hvert element i Model
    Model er et objekt som blir sendt fra controlleren til visningen og inneholder typisk
    en samling av data (en liste med varer). 
    -->